name: ci
on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  build-scan-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set vars
        run: echo "GIT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/web:${GIT_SHA} app
          docker push ghcr.io/${{ github.repository }}/web:${GIT_SHA}

      - name: Install trivy
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: image
          image-ref: ghcr.io/${{ github.repository }}/web:${{ env.GIT_SHA }}
          format: 'table'
          exit-code: '0'
          vuln-type: 'os,library'

      - name: SBOM (syft)
        uses: anchore/sbom-action@v0
        with:
          image: ghcr.io/${{ github.repository }}/web:${{ env.GIT_SHA }}
          upload-artifact: true
          artifact-name: sbom-${{ env.GIT_SHA }}
